// import .scss files here.

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'typography/typography';
@import 'components/components';
@import 'pages/pages';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}