.search-contain {
  min-height: 400px;
  h2,
  h3 {
    padding-inline: 0;
  }
  .post-content {
    margin-inline: 0;
    p {
      padding: 0;
    }
  }
  form {
    margin-block: 32px;
    div + div {
      margin-block-start: 32px;
    }
  }
  .search-radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  #search-submit,
  #search-more-button,
  #people-search-wrapper a {
    border-left-color: var(--wp--preset--color--highlight-2);
    color: #ffffff;

    &::before {
      background-color: var(--wp--preset--color--contrast-2);
    }

    &::after {
      background-color: var(--wp--preset--color--highlight-2);
    }

    span {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      box-shadow: unset;
      color: #ffffff;

      span {
        color: #ffffff;
      }
    }
  }
  #search-more-button {
    margin-block: 32px;
  }
  #people-search-wrapper.show {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  #people-search-wrapper.hidden {
    display: none;
  }
}