footer#footer-main #footer-decoration {
  all: unset;
}

.footer-compliance-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  .footer-compliance-text {
    color: #ffffff;
    display: block;
    margin: 0;
    padding: 4px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    li {
      // border-right: 1px solid #ffffff;
      padding-inline: 20px;
  
      // &:last-of-type {
      //   border-right: 1px solid transparent;
      // }
    }
  }
}