body.uc-2019-child {
  main {
    form[id^="forminator-module"].forminator-ui.forminator-custom-form[data-design=flat] {
      .forminator-button {
        // @include button-styles;
        border-left-color: var(--wp--preset--color--highlight-2);
        color: #ffffff;
        &::before {
          background-color: var(--wp--preset--color--contrast-2);
        }
        &::after {
          background-color: var(--wp--preset--color--highlight-2);
        }
        span {
          color: #ffffff;
        }
        &:hover,
        &:focus {
          box-shadow: unset;
          color: #ffffff;
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
  .uc-slate {
    .action {
      .form_button_submit {
        border-left-color: var(--wp--preset--color--highlight-2);
        color: #ffffff;
        &::before {
          background-color: var(--wp--preset--color--contrast-2);
        }
        &::after {
          background-color: var(--wp--preset--color--highlight-2);
        }
      }
    }
  }
}
