#uconn-banner {
  a#home-link {
    align-items: center;
    display: flex;
    color: var(--wp--preset--color--contrast-2);
    flex-direction: column;
    text-transform: uppercase;
  }
  #wordmark {
    position: relative;
  }
  #wordmark-location {
    font-family: $fontFamilyProximaNova;
    font-size: 24px;
    font-weight: bold;
  }
  #uconn-search:hover,
  #uconn-search:focus {
    + #uconn-search-tooltip:before {
      content: attr(data-search-text);
    }
  }
  @media screen and (min-width: 992px) {
    a#home-link {
      flex-direction: row;
      gap: 12px;
    }
    #wordmark {
      padding-inline-end: 16px;
      &::after {
        content: '';
        position: absolute;
        top: 16px;
        bottom: 16px;
        right: 0;
        border: 2px solid;
      }
    }
  }
  // the breakpoint on the wordmark is exactly 500px for some reason
  @media screen and (min-width: 500px) {
    #wordmark-location {
      font-size: 32px;
    }
  }
}

