// these styles are copied from the parent theme menu styles. consult that file before making changes
%horizontal-border {
  background: var(--wp--preset--color--highlight-2);
}

%veritcal-border {
  background: var(--wp--preset--color--highlight-2);
}

nav[id^='am-'] {
  >ul {
    >li {
      // base styles for top level links
      .am-link,
      .am-submenu-link {
        &:after {
          @extend %horizontal-border;
        }
      }
      // styles for top-level buttons {
      .am-submenu-button {
        &:after {
          @extend %horizontal-border;
        }
      }
      // styles for items with links and buttons
      .am-submenu-link {
        +.am-submenu-button {
          &:after {
            @extend %horizontal-border;
          }
        }
      }
      // default open submenu styles
      .am-submenu-list-open {
        a {
          &:before {
            @extend %veritcal-border;
          }
        }

        .current_page_item {
          >a {
            &:before {
              @extend %veritcal-border;
            }
          }
        }
      }
    }
  }

  // styles for the currently selected item
  .am-current-item {
    &.menu-item-has-children:before {
      @extend %horizontal-border;
      border-top: 1px solid var(--wp--preset--color--highlight-2);
    }
  }
}

// overrides for parent theme nav styles
.navigation-mobile {
  .mobile-trigger {
    color: var(--wp--preset--color--highlight-2);
  }
  .mobile-navigation-container {
    .mobile-navigation-popup {
      .mobile-navigation-menu-wrap {
        .menu-main-navigation-container {
          ul {
            li {
              a {
                &:hover,
                &:focus {
                  border-bottom-color: var(--wp--preset--color--highlight-2);
                }
              }
            }
          }
          & > ul {
            & > li {
              &.current-menu-item,
              &.current-menu-ancestor {
                & > a {
                  border-color: var(--wp--preset--color--highlight-2);
                }
              }
              & > ul.sub-menu {
                & > li {
                  &.current-menu-item {
                    & > a {
                      &:after {
                        background-color: var(--wp--preset--color--highlight-2);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}